{% extends "base.html" %}

{% block style %}
	{% include "block-style.html" %}
{% endblock %}

{% block header %}
	{% include "block-header.html" %}
{% endblock %}

{% block sidebar %}
	{% include "block-sidebar.html" %}
{% endblock %}

{% block content %}
<h1>Стартовая страница</h1>
<p>Форма с post запросом есть на странице Contacts</p>
<h2>Browser Compatibility</h2>
<p>This template has been tested in the following browsers:</p>
<ul>
    <li>Internet Explorer 8</li>
    <li>Internet Explorer 7</li>
    <li>FireFox 3.5</li>
    <li>Google Chrome 6</li>
    <li>Safari 4</li>
</ul>
{% endblock %}